Django==3.1 #django
django-cors-headers==3.4.0 # for cors
djangorestframework==3.11.1 #drf
docutils==0.15.2 # python doc
gunicorn==20.0.4 # gunicorn
PyJWT==1.7.1 # python jwt
pytz==2020.1 #python date util
sqlparse==0.3.1 # sql parsing
PyMySQL==0.10.1 #sql client 
redis==3.5.3 #레디스 
django-url-filter==0.3.15 #django url 필터
Pillow==8.0.1 #이미지 처리
drf-renderer-xlsx==0.3.7 #django reft framework 모델변환기
openpyxl==3.0.5 #python exel
django-crontab==0.7.1 # #python cron
drf-yasg==1.17.1 # dfr swagger

 

